/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
@font-face {
  font-family: 'Amazing Grotesk';
  src: url('../fonts/AmazingGrotesk.otf') format('OpenType');
}
@font-face {
  font-family: 'Amazing Grotesk Ultra';
  src: url('../fonts/AmazingGroteskUltra.otf') format('OpenType');
}
@font-face {
  font-family: 'Amazing Grotesk Demi';
  src: url('../fonts/AmazingGroteskDemi.otf') format('OpenType');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'Amazing Grotesk Ultra', serif;
  font-weight: 400;
}
small {
  font-size: 13px;
}
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-weight: 400;
}
body {
  font-family: 'Amazing Grotesk', serif;
  font-size: 12.5px;
  overflow-y: scroll;
}
.container {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hover-opacity:hover {
  opacity: 0.95;
}
.block-cols .block-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.block-cols.block-cols-6 .block-col {
  width: 16.66666667%;
}
.block-cols.block-cols-5 .block-col {
  width: 20%;
}
.block-cols.block-cols-4 .block-col {
  width: 25%;
}
.block-cols.block-cols-3 .block-col {
  width: 33.33333333%;
}
.block-cols.block-cols-2 .block-col {
  width: 50%;
}
.block-cols.block-cols-1 .block-col {
  width: 100%;
}
/* --- EASYDROPDOWN DEFAULT THEME --- */
/* PREFIXED CSS */
.dropdown .selected::after,
.dropdown.scrollable div::after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* WRAPPER */
.dropdown {
  position: relative;
  width: 219px;
  height: 34px;
  background: url('../img/bg-input.png') no-repeat center center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown.open {
  z-index: 2;
}
.dropdown.focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
/* CARAT */
.dropdown .carat {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  border: 4.5px solid transparent;
  border-top: 6px solid #fff;
}
.dropdown.open .carat {
  margin-top: -7px;
  border-top: 4.5px solid transparent;
  border-bottom: 6px solid #fff;
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.dropdown select {
  position: absolute;
  left: 0px;
  top: 0px;
}
.dropdown.touch .old {
  width: 100%;
  height: 100%;
}
.dropdown.touch select {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.dropdown .selected {
  padding: 0 15px;
  font-size: 12.5px;
  line-height: 34px;
}
.dropdown .selected,
.dropdown li {
  display: block;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown.disabled .selected {
  color: #999;
}
.dropdown .selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div {
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 0px;
  background: #fff;
  border: 1px solid #23384b;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div {
  opacity: 1;
  z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  box-shadow: inset 0 -50px 30px -35px #ffffff;
}
.dropdown.scrollable.bottom div::after {
  opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
}
.dropdown.scrollable.open ul {
  overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li {
  list-style: none;
  padding: 5px 15px;
  color: #000;
}
/* .focus class is also added on hover */
.dropdown li.focus {
  position: relative;
  z-index: 3;
  color: #000;
}
.dropdown li.active {
  font-weight: 700;
}
body {
  min-width: 1110px;
  color: #fff;
}
body.tf2 {
  background: url('../img/bg-tf2.jpg') no-repeat center top;
}
body.dota2 {
  background: url('../img/bg-dota2.jpg') no-repeat center top;
}
body.csgo {
  background: url('../img/bg-csgo.jpg') no-repeat center top;
}
header {
  min-height: 125px;
  padding-top: 20px;
}
.header-logo {
  text-decoration: none;
}
.header-logo img {
  display: block;
  margin-left: -15px;
}
.header-info {
  margin-left: 25px;
}
.header-info-email,
.header-info-faq,
.header-info-vk,
.header-info-bot,
.header-info-clients {
  display: block;
  height: 26px;
  padding-left: 36px;
  font-family: 'Amazing Grotesk Demi', serif;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
}
.header-info-email:hover,
.header-info-faq:hover,
.header-info-vk:hover,
.header-info-bot:hover,
.header-info-clients:hover {
  text-decoration: underline;
}
.header-info-clients {
  padding-left: 0;
}
.header-info-email,
.header-info-vk {
  margin-bottom: 10px;
}
body.tf2 .header-info-email {
  background: url('../img/icon-email-orange.png') no-repeat left center;
}
body.tf2 .header-info-faq {
  background: url('../img/icon-ok-orange.png') no-repeat left center;
}
body.dota2 .header-info-email {
  background: url('../img/icon-email-yellow.png') no-repeat left center;
}
body.dota2 .header-info-faq {
  background: url('../img/icon-ok-yellow.png') no-repeat left center;
}
body.csgo .header-info-email {
  background: url('../img/icon-email-green.png') no-repeat left center;
}
body.csgo .header-info-faq {
  background: url('../img/icon-ok-green.png') no-repeat left center;
}
body.tf2 .header-info-vk {
  background: url('../img/icon-vk-orange.png') no-repeat left center;
}
body.tf2 .header-info-bot {
  background: url('../img/icon-bot-orange.png') no-repeat left center;
}
body.dota2 .header-info-vk {
  background: url('../img/icon-vk-yellow.png') no-repeat left center;
}
body.dota2 .header-info-bot {
  background: url('../img/icon-bot-yellow.png') no-repeat left center;
}
body.csgo .header-info-vk {
  background: url('../img/icon-vk-green.png') no-repeat left center;
}
body.csgo .header-info-bot {
  background: url('../img/icon-bot-green.png') no-repeat left center;
}
.games-links {
  width: 1110px;
  margin: 45px auto 0;
  text-align: center;
}
.games-link {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.games-link img {
  display: block;
}
.games-link:nth-of-type(2) {
  margin: 0 45px;
}
.filter {
  min-height: 176px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 35px;
  background: url('../img/bg-filter.png') no-repeat center top;
}
.filter form > ul > li:last-child {
  padding-top: 15px;
}
.filter form > ul > li:last-child img {
  vertical-align: middle;
}
form > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form > ul > li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  vertical-align: top;
}
form label {
  display: block;
  margin-bottom: 8px;
}
form input[type=text],
form input[type=email],
form input[type=password] {
  display: block;
  width: 219px;
  height: 34px;
  padding: 0 15px;
  line-height: 34px;
  background: url('../img/bg-input.png') no-repeat center center;
  border: none;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
form input[type=submit] {
  display: inline-block;
  width: 50px;
  height: 48px;
  background: url('../img/icon-treasure.png') no-repeat center center;
  border: none;
  vertical-align: middle;
}
.catalog {
  margin-top: 60px;
  text-align: center;
  background: url('../img/bg-catalog.png') repeat-y center top;
}
.catalog .container {
  padding: 20px 27.5px;
}
.catalog .item:nth-last-child(1),
.catalog .item:nth-last-child(2),
.catalog .item:nth-last-child(3),
.catalog .item:nth-last-child(4) {
  margin-bottom: 0;
}
.item {
  position: relative;
  display: inline-block;
  width: 232px;
  margin-right: -4px;
  margin-bottom: 80px;
  padding: 0 7px;
  vertical-align: top;
}
.item:hover .item-img {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.item-desc {
  width: 218px;
  padding: 80px 10px 15px;
  text-align: left;
  background: url('../img/bg-item.png') no-repeat center top;
  background-size: 218px 100%;
}
.item-img {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 0);
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@-moz-keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -moz-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -webkit-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -webkit-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -30px);
    -ms-transform: translate(-50%, -30px);
    -webkit-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -moz-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    -webkit-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
.item-title {
  margin: 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  letter-spacing: 0.334px;
}
.item-info {
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 8px;
  font-family: 'Amazing Grotesk Demi', serif;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.19);
  vertical-align: 0;
}
.item-info-blue {
  background: #8847ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8847ff', endColorstr='#1e5799', GradientType=0);
}
.item-quality,
.item-rarity {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.item-rarity {
  text-align: right;
}
.item-rarity-consumer {
  color: #c0c0c0;
}
.item-rarity-industrial {
  color: #9cf;
}
.item-rarity-milspec {
  color: #00f;
}
.item-rarity-restricted {
  color: #800080;
}
.item-rarity-classified {
  color: #f0f;
}
.item-rarity-covert {
  color: #f00;
}
.item-rarity-rare {
  color: #fc0;
}
.item-price {
  width: 100%;
  margin-top: 15px;
  table-layout: fixed;
}
.item-price th {
  font-weight: 400;
  text-align: left;
}
.item-price thead th:first-child,
.item-price tbody tr td:first-child {
  width: 115px;
}
.item-price tbody td {
  padding-top: 5px;
  font-family: 'Amazing Grotesk Ultra', serif;
  color: #e57319;
}
body.tf2 .item-price tbody td {
  color: #e57319;
}
body.dota2 .item-price tbody td {
  color: #ffb100;
}
body.csgo .item-price tbody td {
  color: #30db6c;
}
.item-buy {
  display: block;
  width: 217px;
  height: 54px;
  margin: 12px auto 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 25px;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
}
.item-buy:hover {
  opacity: 0.95;
}
body.tf2 .item-buy {
  background: url('../img/button-buy-tf2.png') no-repeat center center;
}
body.dota2 .item-buy {
  background: url('../img/button-buy-dota2.png') no-repeat center center;
}
body.csgo .item-buy {
  background: url('../img/button-buy-csgo.png') no-repeat center center;
}
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination-links {
  position: relative;
  display: inline-block;
  padding: 0 60px 15px;
  vertical-align: top;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.pagination-links ul li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.pagination-links ul a {
  display: block;
  padding: 0 8px;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 16.67px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}
.pagination-links:before,
.pagination-links:after {
  display: block;
  position: absolute;
  bottom: 0;
  height: auto;
  line-height: 0;
  clear: both;
  visibility: visible;
}
.pagination-links:before {
  left: -16px;
  content: url('../img/bg-pagination-left.png');
}
.pagination-links:after {
  right: -16px;
  content: url('../img/bg-pagination-right.png');
}
body.tf2 .pagination-links ul a.current,
body.tf2 .pagination-links ul a:hover {
  color: #e5741b;
}
body.dota2 .pagination-links ul a.current,
body.dota2 .pagination-links ul a:hover {
  color: #ffb100;
}
body.csgo .pagination-links ul a.current,
body.csgo .pagination-links ul a:hover {
  color: #30db6c;
}
footer {
  margin-top: 60px;
  min-height: 365px;
}
footer a {
  display: inline-block;
  margin-top: 25px;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 16.67px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
}
footer a:hover {
  border-color: transparent;
}
.footer-title {
  font-size: 16.67px;
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
.footer-desc {
  max-width: 600px;
  margin: 25px 0 20px;
  font-weight: 300;
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
.footer-img {
  position: absolute;
  top: -20px;
}
body.dota2 .footer-img {
  right: 20px;
}
body.tf2 .footer-img,
body.csgo .footer-img {
  right: 80px;
}
.footer-counters {
  margin-top: 30px;
}
.footer-counters .counter {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.modal {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 25px 15px 15px;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 5px;
}
.modal p {
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
