@font-face {
    font-family: 'Amazing Grotesk';
    src: url('../fonts/AmazingGrotesk.otf') format('OpenType');
}

@font-face {
    font-family: 'Amazing Grotesk Ultra';
    src: url('../fonts/AmazingGroteskUltra.otf') format('OpenType');
}

@font-face {
    font-family: 'Amazing Grotesk Demi';
    src: url('../fonts/AmazingGroteskDemi.otf') format('OpenType');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, dl, dd {
  margin: 0;
}

strong, b {
    font-family: 'Amazing Grotesk Ultra', serif;
    font-weight: 400;
}

small {
    font-size: 13px;
}

input {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-weight: 400;
}

body {
  font-family: 'Amazing Grotesk', serif;
  font-size: 12.5px;
  overflow-y: scroll;
}

.container {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hover-opacity:hover {
    opacity: 0.95;
}

// #cols loop
.grid( @name; @columns; @index: 1 ) when ( @index =< @columns ) {
  .grid( @name; @columns; (@index + 1) );

  &.@{name}-@{index} .block-col {
    width: ( percentage(1 / @index) );
  }
}

// #cols
.block-cols {

  .block-col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }

  .grid(block-cols; 6);
}
