body {
    min-width: 1110px;
    color: #fff;
}

body.tf2 {
    background: url('../img/bg-tf2.jpg') no-repeat center top;
}
body.dota2 {
    background: url('../img/bg-dota2.jpg') no-repeat center top;
}
body.csgo {
    background: url('../img/bg-csgo.jpg') no-repeat center top;
}

// #header
header {
    min-height: 125px;
    padding-top: 20px;
}

.header-logo {
    text-decoration: none;

    img {
        display: block;
        margin-left: -15px;
    }
}

.header-info {
    margin-left: 25px;
}

.header-info-email,
.header-info-faq,
.header-info-vk,
.header-info-bot,
.header-info-clients {
    display: block;
    height: 26px;
    padding-left: 36px;
    font-family: 'Amazing Grotesk Demi', serif;
    line-height: 26px;
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

.header-info-clients {
    padding-left: 0;
}

.header-info-email,
.header-info-vk {
    margin-bottom: 10px;
}

body.tf2 .header-info-email {
    background: url('../img/icon-email-orange.png') no-repeat left center;
}
body.tf2 .header-info-faq {
    background: url('../img/icon-ok-orange.png') no-repeat left center;
}
body.dota2 .header-info-email {
    background: url('../img/icon-email-yellow.png') no-repeat left center;
}
body.dota2 .header-info-faq {
    background: url('../img/icon-ok-yellow.png') no-repeat left center;
}
body.csgo .header-info-email {
    background: url('../img/icon-email-green.png') no-repeat left center;
}
body.csgo .header-info-faq {
    background: url('../img/icon-ok-green.png') no-repeat left center;
}
body.tf2 .header-info-vk {
    background: url('../img/icon-vk-orange.png') no-repeat left center;
}
body.tf2 .header-info-bot {
    background: url('../img/icon-bot-orange.png') no-repeat left center;
}
body.dota2 .header-info-vk {
    background: url('../img/icon-vk-yellow.png') no-repeat left center;
}
body.dota2 .header-info-bot {
    background: url('../img/icon-bot-yellow.png') no-repeat left center;
}
body.csgo .header-info-vk {
    background: url('../img/icon-vk-green.png') no-repeat left center;
}
body.csgo .header-info-bot {
    background: url('../img/icon-bot-green.png') no-repeat left center;
}

// #games links
.games-links {
    width: 1110px;
    margin: 45px auto 0;
    text-align: center;
}

.games-link {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;

    img {
        display: block;
    }
}

.games-link:nth-of-type(2) {
    margin: 0 45px;
}

// #filter
.filter {
    min-height: 176px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 35px;
    background: url('../img/bg-filter.png') no-repeat center top;

    form > ul {

        & > li:last-child {
        padding-top: 15px;

            img {
                vertical-align: middle;
            }
        }
    }
}

// #form
form {

    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        & > li {
            display: inline-block;
            margin-right: 12px;
            margin-bottom: 12px;
            vertical-align: top;
        }
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        display: block;
        width: 219px;
        height: 34px;
        padding: 0 15px;
        line-height: 34px;
        background: url('../img/bg-input.png') no-repeat center center;
        border: none;

        &:focus {
            box-shadow: 0 0 5px rgba(51,102,248,.4);
        }
    }

    input[type=submit] {
        display: inline-block;
        width: 50px;
        height: 48px;
        background: url('../img/icon-treasure.png') no-repeat center center;
        border: none;
        vertical-align: middle;
    }
}

// #catalog
.catalog {
    margin-top: 60px;
    text-align: center;
    background: url('../img/bg-catalog.png') repeat-y center top;

    .container {
        padding: 20px 27.5px;
    }

    .item:nth-last-child(1),
    .item:nth-last-child(2),
    .item:nth-last-child(3),
    .item:nth-last-child(4) {
        margin-bottom: 0;
    }
}

.item {
    position: relative;
    display: inline-block;
    width: 232px;
    margin-right: -4px;
    margin-bottom: 80px;
    padding: 0 7px;
    vertical-align: top;

    &:hover {

        .item-img {
            -moz-animation: bounce 2s infinite;
            -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
        }
    }
}

.item-desc {
    width: 218px;
    padding: 80px 10px 15px;
    text-align: left;
    background: url('../img/bg-item.png') no-repeat center top;
    background-size: 218px 100%;
}

.item-img {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translate(-50%, 0);
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

@-moz-keyframes bounce {
    0%, 10%, 20%, 50%, 80%, 100% {
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -moz-transform: translate(-50%, -30px);
        transform: translate(-50%, -30px);
    }
    60% {
        -moz-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }
}

@-webkit-keyframes bounce {
    0%, 10%, 20%, 50%, 80%, 100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -webkit-transform: translate(-50%, -30px);
        transform: translate(-50%, -30px);
    }
    60% {
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }
}

@keyframes bounce {
    0%, 10%, 20%, 50%, 80%, 100% {
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    40% {
        -moz-transform: translate(-50%, -30px);
        -ms-transform: translate(-50%, -30px);
        -webkit-transform: translate(-50%, -30px);
        transform: translate(-50%, -30px);
    }
    60% {
        -moz-transform: translate(-50%, -15px);
        -ms-transform: translate(-50%, -15px);
        -webkit-transform: translate(-50%, -15px);
        transform: translate(-50%, -15px);
    }
}

.item-title {
    margin: 0;
    font-family: 'Amazing Grotesk Ultra', serif;
    letter-spacing: 0.334px;
}

.item-info {
    display: inline-block;
    width: 13px;
    height: 14px;
    margin-right: 8px;
    font-family: 'Amazing Grotesk Demi', serif;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 0px 0px fade(#000, 19%);
    vertical-align: 0;
}
.item-info-blue {
    background: #8847ff; /* Old browsers */
    background: -moz-linear-gradient(top, #8847ff 0%, #24009b 100%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8847ff 0%,#24009b 100%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8847ff 0%,#24009b 100%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8847ff', endColorstr='#1e5799',GradientType=0 );
}

.item-quality,
.item-rarity {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.item-rarity {
    text-align: right;

    &-consumer {
        color: #c0c0c0;
    }
    &-industrial {
        color: #9cf;
    }
    &-milspec {
        color: #00f;
    }
    &-restricted {
        color: #800080;
    }
    &-classified {
        color: #f0f;
    }
    &-covert {
        color: #f00;
    }
    &-rare {
        color: #fc0;
    }
}

.item-price {
    width: 100%;
    margin-top: 15px;
    table-layout: fixed;

    th {
        font-weight: 400;
        text-align: left;
    }

    thead th:first-child,
    tbody tr td:first-child {
        width: 115px;
    }

    tbody td {
        padding-top: 5px;
        font-family: 'Amazing Grotesk Ultra', serif;
        color: #e57319;
    }
}

body.tf2 .item-price tbody td {
    color: #e57319;
}
body.dota2 .item-price tbody td {
    color: #ffb100;
}
body.csgo .item-price tbody td {
    color: #30db6c;
}

.item-buy {
    display: block;
    width: 217px;
    height: 54px;
    margin: 12px auto 0;
    font-family: 'Amazing Grotesk Ultra', serif;
    font-size: 25px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 1px 0px fade(#000, 35%);

    &:hover {
        opacity: 0.95;
    }
}

body.tf2 .item-buy {
    background: url('../img/button-buy-tf2.png') no-repeat center center;
}
body.dota2 .item-buy {
    background: url('../img/button-buy-dota2.png') no-repeat center center;
}
body.csgo .item-buy {
    background: url('../img/button-buy-csgo.png') no-repeat center center;
}

// #pagination
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-links {
    position: relative;
    display: inline-block;
    padding: 0 60px 15px;
    vertical-align: top;
    border-bottom: 1px solid fade(#fff, 35%);

    ul {

        li {
            display: inline-block;
            margin-right: -4px;
            vertical-align: top;
        }

        a {
            display: block;
            padding: 0 8px;
            font-family: 'Amazing Grotesk Ultra', serif;
            font-size: 16.67px;
            line-height: 1;
            text-decoration: none;
            color: #fff;
            text-shadow: 0px 2px 0px fade(#000, 42%);
        }
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
        bottom: 0;
        height: auto;
        line-height: 0;
        clear: both;
        visibility: visible;

    }

    &:before {
        left: -16px;
        content: url('../img/bg-pagination-left.png');
    }

    &:after {
        right: -16px;
        content: url('../img/bg-pagination-right.png');
    }
}

body.tf2 .pagination-links ul a.current,
body.tf2 .pagination-links ul a:hover {
    color: #e5741b;
}
body.dota2 .pagination-links ul a.current,
body.dota2 .pagination-links ul a:hover {
    color: #ffb100;
}
body.csgo .pagination-links ul a.current,
body.csgo .pagination-links ul a:hover {
    color: #30db6c;
}

// #footer
footer {
    margin-top: 60px;
    min-height: 365px;

    a {
        display: inline-block;
        margin-top: 25px;
        font-family: 'Amazing Grotesk Ultra', serif;
        font-size: 16.67px;
        line-height: 1;
        text-decoration: none;
        color: #fff;
        border-bottom: 1px dashed #fff;

        &:hover {
            border-color: transparent;
        }
    }
}

.footer-title {
    font-size: 16.67px;
    line-height: 16.67px;
    letter-spacing: 0.334px;
}

.footer-desc {
    max-width: 600px;
    margin: 25px 0 20px;
    font-weight: 300;
    line-height: 16.67px;
    letter-spacing: 0.334px;
}

.footer-img {
    position: absolute;
    top: -20px;
}

body.dota2 .footer-img {
    right: 20px;
}
body.tf2 .footer-img,
body.csgo .footer-img {
    right: 80px;
}

// #counters
.footer-counters {
    margin-top: 30px;

    .counter {
        display: inline-block;
        vertical-align: top;
        margin-right: 6px;
    }
}

// #popup
.modal {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 25px 15px 15px;
    text-align: center;
    color: #000;
    background: #fff;
    border-radius: 5px;

    p {
        line-height: 16.67px;
        letter-spacing: 0.334px;
    }
}
