@font-face {
  font-family: 'Amazing Grotesk';
  src: url('../fonts/AmazingGrotesk.otf') format('OpenType');
}
@font-face {
  font-family: 'Amazing Grotesk Ultra';
  src: url('../fonts/AmazingGroteskUltra.otf') format('OpenType');
}
@font-face {
  font-family: 'Amazing Grotesk Demi';
  src: url('../fonts/AmazingGroteskDemi.otf') format('OpenType');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'Amazing Grotesk Ultra', serif;
  font-weight: 400;
}
small {
  font-size: 13px;
}
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-weight: 400;
}
body {
  font-family: 'Amazing Grotesk', serif;
  font-size: 12.5px;
  overflow-y: scroll;
}
.container {
  position: relative;
  width: 990px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hover-opacity:hover {
  opacity: 0.95;
}
.block-cols .block-col {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.block-cols.block-cols-6 .block-col {
  width: 16.66666667%;
}
.block-cols.block-cols-5 .block-col {
  width: 20%;
}
.block-cols.block-cols-4 .block-col {
  width: 25%;
}
.block-cols.block-cols-3 .block-col {
  width: 33.33333333%;
}
.block-cols.block-cols-2 .block-col {
  width: 50%;
}
.block-cols.block-cols-1 .block-col {
  width: 100%;
}
/* --- EASYDROPDOWN DEFAULT THEME --- */
/* PREFIXED CSS */
.dropdown .selected::after,
.dropdown.scrollable div::after {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}
/* WRAPPER */
.dropdown {
  position: relative;
  width: 219px;
  height: 34px;
  background: url('../img/bg-input.png') no-repeat center center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown.open {
  z-index: 2;
}
.dropdown.focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
/* CARAT */
.dropdown .carat {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3px;
  border: 4.5px solid transparent;
  border-top: 6px solid #fff;
}
.dropdown.open .carat {
  margin-top: -7px;
  border-top: 4.5px solid transparent;
  border-bottom: 6px solid #fff;
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.dropdown select {
  position: absolute;
  left: 0px;
  top: 0px;
}
.dropdown.touch .old {
  width: 100%;
  height: 100%;
}
.dropdown.touch select {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.dropdown .selected {
  padding: 0 15px;
  font-size: 12.5px;
  line-height: 34px;
}
.dropdown .selected,
.dropdown li {
  display: block;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown.disabled .selected {
  color: #999;
}
.dropdown .selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div {
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 0px;
  background: #fff;
  border: 1px solid #23384b;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  opacity: 0;
}
/* Height is adjusted by JS on open */
.dropdown.open div {
  opacity: 1;
  z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  box-shadow: inset 0 -50px 30px -35px #ffffff;
}
.dropdown.scrollable.bottom div::after {
  opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: hidden;
}
.dropdown.scrollable.open ul {
  overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li {
  list-style: none;
  padding: 5px 15px;
  color: #000;
}
/* .focus class is also added on hover */
.dropdown li.focus {
  position: relative;
  z-index: 3;
  color: #000;
}
.dropdown li.active {
  font-weight: 700;
}
body {
  min-width: 1110px;
  color: #fff;
}
body.tf2 {
  background: url('../img/bg-tf2.jpg') no-repeat center top;
}
body.dota2 {
  background: url('../img/bg-dota2.jpg') no-repeat center top;
}
body.csgo {
  background: url('../img/bg-csgo.jpg') no-repeat center top;
}
header {
  min-height: 125px;
  padding-top: 20px;
}
.header-logo {
  text-decoration: none;
}
.header-logo img {
  display: block;
  margin-left: -15px;
}
.header-info {
  margin-left: 25px;
}
.header-info-email,
.header-info-faq,
.header-info-vk,
.header-info-bot,
.header-info-clients {
  display: block;
  height: 26px;
  padding-left: 36px;
  font-family: 'Amazing Grotesk Demi', serif;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
}
.header-info-email:hover,
.header-info-faq:hover,
.header-info-vk:hover,
.header-info-bot:hover,
.header-info-clients:hover {
  text-decoration: underline;
}
.header-info-clients {
  padding-left: 0;
}
.header-info-email,
.header-info-vk {
  margin-bottom: 10px;
}
body.tf2 .header-info-email {
  background: url('../img/icon-email-orange.png') no-repeat left center;
}
body.tf2 .header-info-faq {
  background: url('../img/icon-ok-orange.png') no-repeat left center;
}
body.dota2 .header-info-email {
  background: url('../img/icon-email-yellow.png') no-repeat left center;
}
body.dota2 .header-info-faq {
  background: url('../img/icon-ok-yellow.png') no-repeat left center;
}
body.csgo .header-info-email {
  background: url('../img/icon-email-green.png') no-repeat left center;
}
body.csgo .header-info-faq {
  background: url('../img/icon-ok-green.png') no-repeat left center;
}
body.tf2 .header-info-vk {
  background: url('../img/icon-vk-orange.png') no-repeat left center;
}
body.tf2 .header-info-bot {
  background: url('../img/icon-bot-orange.png') no-repeat left center;
}
body.dota2 .header-info-vk {
  background: url('../img/icon-vk-yellow.png') no-repeat left center;
}
body.dota2 .header-info-bot {
  background: url('../img/icon-bot-yellow.png') no-repeat left center;
}
body.csgo .header-info-vk {
  background: url('../img/icon-vk-green.png') no-repeat left center;
}
body.csgo .header-info-bot {
  background: url('../img/icon-bot-green.png') no-repeat left center;
}
.games-links {
  width: 1110px;
  margin: 45px auto 0;
  text-align: center;
}
.games-link {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.games-link img {
  display: block;
}
.games-link:nth-of-type(2) {
  margin: 0 45px;
}
.filter {
  min-height: 176px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 35px;
  background: url('../img/bg-filter.png') no-repeat center top;
}
.filter form > ul > li:last-child {
  padding-top: 15px;
}
.filter form > ul > li:last-child img {
  vertical-align: middle;
}
form > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form > ul > li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  vertical-align: top;
}
form label {
  display: block;
  margin-bottom: 8px;
}
form input[type=text],
form input[type=email],
form input[type=password] {
  display: block;
  width: 219px;
  height: 34px;
  padding: 0 15px;
  line-height: 34px;
  background: url('../img/bg-input.png') no-repeat center center;
  border: none;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
  box-shadow: 0 0 5px rgba(51, 102, 248, 0.4);
}
form input[type=submit] {
  display: inline-block;
  width: 50px;
  height: 48px;
  background: url('../img/icon-treasure.png') no-repeat center center;
  border: none;
  vertical-align: middle;
}
.catalog {
  margin-top: 60px;
  text-align: center;
  background: url('../img/bg-catalog.png') repeat-y center top;
}
.catalog .container {
  padding: 20px 27.5px;
}
.catalog .item:nth-last-child(1),
.catalog .item:nth-last-child(2),
.catalog .item:nth-last-child(3),
.catalog .item:nth-last-child(4) {
  margin-bottom: 0;
}
.item {
  position: relative;
  display: inline-block;
  width: 232px;
  margin-right: -4px;
  margin-bottom: 80px;
  padding: 0 7px;
  vertical-align: top;
}
.item:hover .item-img {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.item-desc {
  width: 218px;
  padding: 80px 10px 15px;
  text-align: left;
  background: url('../img/bg-item.png') no-repeat center top;
  background-size: 218px 100%;
}
.item-img {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 0);
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@-moz-keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -moz-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -webkit-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -webkit-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -30px);
    -ms-transform: translate(-50%, -30px);
    -webkit-transform: translate(-50%, -30px);
    transform: translate(-50%, -30px);
  }
  60% {
    -moz-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    -webkit-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
  }
}
.item-title {
  margin: 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  letter-spacing: 0.334px;
}
.item-info {
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 8px;
  font-family: 'Amazing Grotesk Demi', serif;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.19);
  vertical-align: 0;
}
.item-info-blue {
  background: #8847ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8847ff 0%, #24009b 100%, #1e5799 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8847ff', endColorstr='#1e5799', GradientType=0);
}
.item-quality,
.item-rarity {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.item-rarity {
  text-align: right;
}
.item-rarity-consumer {
  color: #c0c0c0;
}
.item-rarity-industrial {
  color: #9cf;
}
.item-rarity-milspec {
  color: #00f;
}
.item-rarity-restricted {
  color: #800080;
}
.item-rarity-classified {
  color: #f0f;
}
.item-rarity-covert {
  color: #f00;
}
.item-rarity-rare {
  color: #fc0;
}
.item-price {
  width: 100%;
  margin-top: 15px;
  table-layout: fixed;
}
.item-price th {
  font-weight: 400;
  text-align: left;
}
.item-price thead th:first-child,
.item-price tbody tr td:first-child {
  width: 115px;
}
.item-price tbody td {
  padding-top: 5px;
  font-family: 'Amazing Grotesk Ultra', serif;
  color: #e57319;
}
body.tf2 .item-price tbody td {
  color: #e57319;
}
body.dota2 .item-price tbody td {
  color: #ffb100;
}
body.csgo .item-price tbody td {
  color: #30db6c;
}
.item-buy {
  display: block;
  width: 217px;
  height: 54px;
  margin: 12px auto 0;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 25px;
  line-height: 54px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
}
.item-buy:hover {
  opacity: 0.95;
}
body.tf2 .item-buy {
  background: url('../img/button-buy-tf2.png') no-repeat center center;
}
body.dota2 .item-buy {
  background: url('../img/button-buy-dota2.png') no-repeat center center;
}
body.csgo .item-buy {
  background: url('../img/button-buy-csgo.png') no-repeat center center;
}
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination-links {
  position: relative;
  display: inline-block;
  padding: 0 60px 15px;
  vertical-align: top;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.pagination-links ul li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.pagination-links ul a {
  display: block;
  padding: 0 8px;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 16.67px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
}
.pagination-links:before,
.pagination-links:after {
  display: block;
  position: absolute;
  bottom: 0;
  height: auto;
  line-height: 0;
  clear: both;
  visibility: visible;
}
.pagination-links:before {
  left: -16px;
  content: url('../img/bg-pagination-left.png');
}
.pagination-links:after {
  right: -16px;
  content: url('../img/bg-pagination-right.png');
}
body.tf2 .pagination-links ul a.current,
body.tf2 .pagination-links ul a:hover {
  color: #e5741b;
}
body.dota2 .pagination-links ul a.current,
body.dota2 .pagination-links ul a:hover {
  color: #ffb100;
}
body.csgo .pagination-links ul a.current,
body.csgo .pagination-links ul a:hover {
  color: #30db6c;
}
footer {
  margin-top: 60px;
  min-height: 365px;
}
footer a {
  display: inline-block;
  margin-top: 25px;
  font-family: 'Amazing Grotesk Ultra', serif;
  font-size: 16.67px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
}
footer a:hover {
  border-color: transparent;
}
.footer-title {
  font-size: 16.67px;
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
.footer-desc {
  max-width: 600px;
  margin: 25px 0 20px;
  font-weight: 300;
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
.footer-img {
  position: absolute;
  top: -20px;
}
body.dota2 .footer-img {
  right: 20px;
}
body.tf2 .footer-img,
body.csgo .footer-img {
  right: 80px;
}
.footer-counters {
  margin-top: 30px;
}
.footer-counters .counter {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
.modal {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 25px 15px 15px;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 5px;
}
.modal p {
  line-height: 16.67px;
  letter-spacing: 0.334px;
}
